

<nav class="navbar navbar-expand-md navbar-dark fixed-top" style ="background-color: #BFC9A1">
  <!-- Brand -->

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
  <a class="navbar-brand" href="/"><img src = "https://i.ibb.co/m06QXbw/2-1.png"></a>

</ul>
<ul class= "navbar-nav ml-auto">
    <!-- Dropdown -->
    <li class="nav-item">
      <a class="nav-link" href="/location">Konumumuz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Hakkımızda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/photolibrary">Fotoğraf Albümümüz</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="/contact" id="navbardrop" data-toggle="dropdown">
        Randevu ve Bilgi Almak İçin
      </a>
      <div class="dropdown-menu" style = "right: 0;left: auto;">
        <a class="dropdown-item" href="/contact"><img src = "/media/Phonecall.png"> Telefon: 0 (541) 391 18 08</a>
        <a class="dropdown-item" href="https://www.instagram.com/samsunpetkuafor/"><img src = "/media/Instalogo.png"> Instagram : @samsunpetkuafor</a>
        <a class="dropdown-item" href="/contact"><img src = "/media/gmail.png"> E-mail: burcaksahin08@gmail.com</a>
        <a class="dropdown-item" href="/contact"><img src = "/media/hiclipart-com-4.png"> Whatsapp: 0 (541) 391 18 08</a>
      </div>
    </li>
  </ul>
</nav>