{% extends "layout.html" %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="container text-center">
<h3 class = "display-4 text-center"> Hakkımızda </h3>
<hr style = "width: 50%">
<img  src = "/media/aresannem.jpeg" style="width:30%;height:auto ">
<br><br>
<h5 class = "text-center">Burçak Köse Şahin</h5>
<hr stlye = "width:30%">
<p class="text-center">
Eğitimini en uzman kişilerden almış, sertifika sahibi ve işinde profesyonel olarak ırka özel makas tıraşı vermektedir.
Kendisi de bir hayvansever ve bir köpek sahibidir. En güvenilir ellerde olduğunuzu unutmayınız ve köpeğinizin en uygun görüntüye sahip olması için bizi tercih ediniz. :)
</p>
<br><br>
<img src = "/media/Sertifika.jpeg" style="width:45%;height:auto">
<br>


</div>

{% endblock body %}