{% extends "layout.html" %}

{% block body %}
<style>
a{text-decoration :none;}
</style>
<br>
<br>
<br>
<br>
<div class = "container text-center center" style="width:80%;">
<h3 class = "display-4 text-center">İletişim Bilgilerimiz</h3>
<hr>
<div class = "alert alert-info" role = "alert">Randevular en erken<strong> 1 gün </strong>sonrasına verilmektedir.</div>
<ul class="list-group">
  <li class="list-group-item"><img src = "/media/Phonecall.png"> <strong>Telefon Numaramız :</strong><br> 0 (541) 391 18 08 <hr>
  Randevu almak için lütfen bize yazınız ya da arayınız.
  </li>
</ul>
<br>
<ul class= "navbar-nav ml-auto">
  <li class="list-group-item"><img src = "/media/Instalogo.png"> <strong>Instagram Adresimiz:</strong><br> <a href = "https://www.instagram.com/samsunpetkuafor/">@samsunpetkuafor</a>
  <hr>
  Takip etmeyi unutmayın :)
  </li>
</ul>
<br>
<ul class= "navbar-nav ml-auto">
  <li class="list-group-item"><img src = "/media/gmail.png"><strong> E-mail Adresimiz: </strong><br>burcaksahin08@gmail.com<hr>
  Şikayet ve talepleriniz belirtmek için lütfen bize mail atın.
  </li>
</ul>
<br>
<ul class= "navbar-nav ml-auto">
  <li class="list-group-item"><img src = "/media/hiclipart-com-4.png"> <strong>Whatsapp numaramız: </strong><br>0 (541) 391 18 08 <hr>
  Randevu almak için lütfen bize yazınız ya da arayınız.
  </li>
</ul>
</div>
<br>
<br>
<br>

{% endblock body %}