{% extends "layout.html" %}

{% block body %}
<br>
<br>
<br>

<style>
</style>
{% if messages %}
<br>
  <div class = "container">
    {% for message in messages %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}
<div class="container text-center">
<img src="/media/logo.jpg" style = "max-width:600px;width:70%;height:auto">
<hr style="width:60%;height:2px;border-width:0;color:black;background-color:black">
  <h3 class="font-italic"><small>Samsun'un ilk ve tek ırka özel kesim hizmeti veren pet kuaförü.</small></h3>
</div>
<br>
<br>
<br>


<div class="container">
    <div class="card-deck">
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="/media/MOCCA_PAGE.jpeg" alt="Pomeranian">
            <div class="card-body">
                <h5 class="card-title">Pomeranian</h5>
                <p class="card-text">Daha fazla Pomeranian fotoğrafı için</p>
                <a href="/photolibrary/photolibrary/Pomeranian"style ="background-color: #BFC9A1;color:white" class="btn">Fotoğraflar</a>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="/media/Shihtzu.jpg" alt="Shih Tzu">
            <div class="card-body">
                <h5 class="card-title">Shih Tzu</h5>
                <p class="card-text">Daha fazla Shih Tzu fotoğrafı için</p>
                <a href="/photolibrary/photolibrary/Shih Tzu" style ="background-color: #BFC9A1;color:white" class="btn">Fotoğraflar</a>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="/media/Terrier.jpg" alt="Yorkshire Terrier">
            <div class="card-body">
                <h5 class="card-title">Yorkshire Terrier</h5>
                <p class="card-text">Daha fazla Yorkshire Terrier fotoğrafı için </p>
                <a href="/photolibrary/photolibrary/Yorkshire Terrier" style ="background-color: #BFC9A1;color:white"  class="btn">Fotoğraflar</a>
            </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="/media/turta(4).jpeg" alt="Poodle">
            <div class="card-body">
                <h5 class="card-title">Poodle</h5>
                <p class="card-text">Daha fazla Poodle fotoğrafı için</p>
                <a href="/photolibrary/photolibrary/Poodle" style ="background-color: #BFC9A1;color:white" class="btn">Fotoğraflar</a>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
         <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="/media/Maltese-1.jpg" alt="Maltese Terrier">
            <div class="card-body">
                <h5 class="card-title">Maltese Terrier</h5>
                <p class="card-text">Daha fazla Maltese Terrier fotoğrafı için</p>
                <a href="/photolibrary/photolibrary/Maltese Terrier"  style ="background-color: #BFC9A1;color:white" class="btn">Fotoğraflar</a>
            </div>
        </div>
        <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>

        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>  
    </div>
</div>
<div class = "container">
<div class="alert alert-warning text-center">
Önemli Bilgi: Pomeranian ırkı çift katlı tüy yapısına sahip olduğundan dolayı tıraş veya kısaltma işlemleri tüylerine zarar verebilir.
</div>
</div>
<style>
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 30%;
    height: 20%;
    font-size: 200%;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

</style>
<section>
<hr style="width:75%">
<form method = "post" action = "/">
{% csrf_token %}
<div class="container mt-5" style = "width:50%">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">

                <div class="p-2">
                <div class = "container">
                <div class = "row">
                    <input name = "name" type="name" class="form-control" id="exampleFormControlInput1" placeholder="Adınız" style="width:70%;">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                </div>
                </div>
                    <hr>
                    <div class="d-flex flex-row align-items-start"><textarea name = "comment" class="form-control ml-1 shadow-none textarea" placeholder="Yorumunuz"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn"style = "background-color:#BFC9A1;color:white;" type="submit">Yorum Yapın</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<br>
<div class = "container">
<hr>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% if comments %}

<div class="card">
  <div class="card-header">
    <h5>Yorumlar</h5>
  </div>
  <ul>
  <div class="card-body">
  
    {% for comment in comments %}
    <h5 class="card-title">{{comment.name}}</h5>
    {% with ''|center:comment.rating as range %}
    {% for i in range %}
        <span class="float-left"><i class="text-warning fa fa-star"></i></span>
    {% endfor %}
    {% endwith %}
    <br>
    <hr>
    <p class="card-text">{{comment.comment}}</p>
    <p><small>{{comment.created_date}} tarihinde yayımlandı.</small><p>
    <hr>
    {% endfor %}


  </div>
    </ul>  
</div>
{% else %}
<div class = "alert alert-warning">Daha henüz yorum yapılmadı. İlk yapan siz olun :)</div>

{% endif %}
</div>
<br>
<br>
</div>
</section>
{% endblock body %}
